<li class="listing clearfix <%= cycle('odd','even') %> position_<%= comment_counter %>">
	<%= link_to thumbnail_for(comment), admin_comment_path(comment), :class => 'thumb media' %>
	<div class="detail">
		<h4>
			<%= publish_label_for(comment) %>
			#<%= link_to comment.id, admin_comment_path(comment) %> on <%= link_to h(comment.post.title), 
			admin_post_path(comment.post)+"##{dom_id(comment)}" %>
		</h4>
		<%= simple_format(truncate(comment.body,200)) %>
		<p class="meta">
			<%= publish_dates_for(comment) %> | by ismasan.
		</p>
	</div>
</li>