<li class="listing clearfix section <%= cycle('odd','even') %> position_<%= comment_counter %>">
	<%= link_to thumbnail_for(comment), comment, :class => 'thumb media' %>
	<div class="detail">
		<p class="publish_info">
			<%= publish_status_for(comment) %>
		</p>
		<h4>
			#<%= link_to comment.id, comment %> on <%= link_to h(comment.post.title), 
			post_path(comment.post)+"##{dom_id(comment)}" %>
		</h4>
		<%= simple_format(truncate(comment.body,200)) %>
		<p class="meta">
			by ismasan.
		</p>
	</div>
</li>