<li class="listing clearfix <%= cycle('odd','even') %> position_<%= post_counter %>">
	<%= link_to thumbnail_for(post), admin_post_path(post), :class => 'thumb media' %>
	<div class="detail">
		<p class="publish_info">
			<%= publish_status_for(post) %>
		</p>
		<h4><%= link_to h(post.title), admin_post_path(post) %></h4>
		<%= simple_format(truncate(post.body,200)) %>
		<p class="meta">
			Posted on <%= post.created_at.to_s(:short) %> | <%= post.comments.count %> comments.
		</p>
	</div>
</li>