<li class="listing clearfix <%= cycle('odd','even') %> position_<%= post_counter %>">
	<%= link_to thumbnail_for(post), admin_post_path(post), :class => 'thumb media' %>
	<div class="detail">
		<h4><%= publish_label_for(post) %><%= link_to h(post.title), admin_post_path(post) %></h4>
		<%= simple_format(truncate(post.body,:length => 200)) %>
		<p class="meta">
			<%= publish_dates_for(post) %> | 
			<%= link_to pluralize(post.comments.count,'comment'),admin_post_comments_path(post) %>.
		</p>
	</div>
</li>