<div class="section title_bar clearfix">
	<h1 class="column">Posts: <%= controller.action_name %></h1>
	<div class="menu column_right title_options">
		sort by:
		<%= resource_service.sortable_fields.collect do |key,value|
			link_to key, params.dup.update(:sort => key), :class => ((params[:sort].to_s==key.to_s) ? 'current' : '')
		end.join(' | ') %>
	</div>
</div>

<!-- Use rails convention for collection partials -->

<ul class="index section">
	<%= render :partial => resources %>
</ul>

<%= will_paginate resources, :class => 'pager clearfix section' %>

<% content_for :secondary do %>
	<div class="section">
		<%= link_to 'new post',new_admin_post_path %>
	</div>
	
	<h3>Filters</h3>
	
	<ul class="content_filters">
	<%= publish_status_links(resource_service, enclosing_resource) %>
	</ul><!-- /filters -->
<% end %>