<div class="title_bar clearfix">
	<h1 class="column">Posts: <%= controller.action_name %></h1>
	<div class="menu column_right title_options">
		
	</div>
</div>

<p class="link_list">
	sort by: <%= sort_links %>
</p>
<!-- Use rails convention for collection partials -->

<ul class="index section">
	<%= render :partial => resources %>
</ul>

<%= will_paginate resources, :class => 'pager clearfix section' %>

<% content_for :secondary do %>
	<div class="section">
		<%= link_to 'new post',new_admin_post_path %>
	</div>
	
	<h3>Search</h3>
	<div class="section">
	<% form_tag params, :method => :get do %>
	<input type="text" name="q" value="<%= params[:q] %>" />
	<% end %>
	</div>
	
	<h3>Filters</h3>
	
	<ul class="content_filters">
	<%= publish_status_links(resource_service, enclosing_resource) %>
	</ul><!-- /filters -->
<% end %>