<div class="title_bar section">
	<h1><%= h(resource.title) %></h1>
	<%= link_to 'edit', edit_admin_post_path(resource) %>
</div>

<div class="section">
	<p class="meta">
		Posted on <%= resource.created_at.to_s(:short) %> | <%= resource.comments.count %> comments.
	</p>

	<div id="post_body">
		<%= simple_format(resource.body) %>
	</div>
	<!-- Use rails convention for collection partials -->

	<h3>Recent comments</h3>
	<%= link_to "%s total"%resource.comments.count, admin_post_comments_path(resource) %>
	
	<ul class="index">
		<%= render :partial => resource.comments.recent(5) %>
	</ul>
	
</div>