<div class="title_bar clearfix">
	<h1 class="column">Users: <%= controller.action_name %></h1>
	<div class="menu column_right title_options">
		<%= link_to 'new user',new_resource_path %>
	</div>
</div>

<p class="link_list">
	sort by: <%= sort_links %>
</p>
<!-- Use rails convention for collection partials -->

<ul class="index section">
	<%= render :partial => resources %>
</ul>

<%= will_paginate resources, :class => 'pager clearfix section' %>

<% content_for :secondary do %>
	<%= render :partial => 'admin/shared/search_box' %>
<% end %>